<h1>What is Jitterbunk?</h1>
	
<div class="about">Jitterbunk is just a site where you can bunk your friends.</div>


<h1>What can I do on Jitterbunk?</h1>
	
<div class="about">You can just bunk your friends. Or see who has been bunking who.</div>


<h1>Can I comment on Jitterbunk</h1>
	
<div class="about">No.</div>


<h1>Who made this?</h1>
	
<div class="about"><a href="http://thekeesh.com">Jeremy</a>, <a href="http://ericwconner.com">Eric</a>, and <a href="http://zachgalant.com">Zach</a> from <a href="http://raunk.com">raunk</a> and <a href="http://laneyk.org">Laney</a>.</div>

<h1>This sounds amazing. What is the jitterbunk story?</h1>

<a href="http://stanfordflipside.com/2011/02/stanford-students-found-revolutionary-startup-that-does-nothing/">Read about it here at the Stanford Flipside.</a>