{% extends "base.html" %}

{% block content %}
<div id="top-image-container">
	<img id="top-image" src="/static/images/logo.png" />
	<div id="top-links">
		<a href="/profile/{{user.id}}" id="name-link">{{user.first_name|lower}}</a>
		<a href="/about" id="about-link">about</a>
	</div>
</div>

<div id="search-wrapper">
	<input type="text" id="search-input" placeholder="Search for someone to bunk" />
	<a href="#" id="bunk-button">Bunk!</a>
</div>

<div id="feed-wrapper">
	<div id="feed">
		{% include "feed.html" %}
	</div>
</div>
{% endblock %}