{% extends "base.html" %}


{% block content %}
<style type='text/css'>
html{
    background: url(http://i.bnet.com/blogs/skylinefk4.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


a{
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: fixed;
	top: 66px;
	padding: 10px;
	background: black;
}
</style>

<a href="{{url}}">login</a>

<img id="home-image" src="/static/images/logo.png" />

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true, oauth: true});
    FB.Event.subscribe('{% if request.user.is_authenticated %}auth.logout{% else %}auth.login{% endif %}', function(response) {
      window.location.reload();
    });
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
{% endblock %}