<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Jitterbunk</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/js/all.js"></script>
		<script type="text/javascript" src="/static/js/index.js"></script>
		<link type="text/css" href="/static/css/index.css" rel="stylesheet"/>
		<link type="text/css" href="/static/css/profile.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/base.css" rel="stylesheet"/>
		<link type="text/css" href="/static/css/reset.css" rel="stylesheet"/>
		<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/base/jquery-ui.css" rel="stylesheet" />
		{% block stylesheets %}
		{% endblock %}
	</head>
	<body>

<style type='text/css'>
html{
    background: url(http://i.bnet.com/blogs/skylinefk4.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


a{
	color: white;
	font-size: 20px;
	font-weight: bold;
	position: fixed;
	top: 66px;
	left: 100px;
	padding: 10px;
	background: black;
}
</style>

<a href="{{url}}">login</a>

<img id="home-image" src="/static/images/logo.png" />

</body>
</html>
