{% extends "base.html" %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
<link type="text/css" href="/static/css/profile.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="header-wrapper">
    <img class="profile-image" src="http://graph.facebook.com/{{user.get_profile.fbid}}/picture?type=square" />
    <div class="user-name">
        {{user.first_name}} {{user.last_name}}
    </div>
    <div class="user-counts">
        {{bunks_sent_count}} Bunks Sent, {{bunks_received_count}} Bunks Received 
    </div>
</div>

<div id="left-col-wrapper">
    <div class="title">Bunked</div>
    <div id="bunked-list">
            {% with bunks_sent as all_bunks %}
            {% include "feed.html" %}
            {% endwith %}
    </div>
</div>

<div id="right-col-wrapper">
    <div class="title">Bunked By</div>
    <div id="bunked-by-list">
            {% with bunks_received as all_bunks %}
            {% include "feed.html" %}
            {% endwith %}
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}
