{% extends "base.html" %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
<link type="text/css" href="/static/css/profile.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div id="header-wrapper">
    {{id}}
</div>

<div id="left-col-wrapper">
    <div class="title">Bunked</div>
    <div id="bunked-list">
            {% include "feed.html" %}
    </div>
</div>

<div id="right-col-wrapper">
    <div class="title">Bunked By</div>
    <div id="bunked-by-list">
            {% include "feed.html" %}
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}
