{% extends "base.html" %}

{% block content %}
<div id="header-wrapper">
	
    <img class="profile-image" src="http://graph.facebook.com/{{user.get_profile.fbid}}/picture?type=normal" />

	<div class="user-box">
	    <div id="user-name">
	        {{user.first_name}} {{user.last_name}}
	    </div>
	    <div class="user-counts">
	        <span class='count'>{{bunks_sent|length}}</span> Bunks Sent
			<br /> 
			<span class='count'>{{bunks_received|length}}</span> Bunks Received 
			<br /> 
			<span class='count'>{{ratio}}</span>
	    </div>
	</div>

	{% if viewer != user %}
	<div id="profile-bunk" data-id="{{user.id}}">Bunk!</div>
	{% endif %}
</div>
<div class="clear"></div>

<div id="left-col-wrapper">
    <div class="title">Bunked</div>
    <div id="bunked-list">
            {% with bunks_sent as all_bunks %}
            {% include "feed.html" %}
            {% endwith %}
    </div>
</div>

<div id="right-col-wrapper">
    <div class="title">Bunked By</div>
    <div id="bunked-by-list">
            {% with bunks_received as all_bunks %}
            {% include "feed.html" %}
            {% endwith %}
    </div>
</div>

<div class="clearfix"></div>
{% endblock %}
