#left-col-wrapper {
    float:left;
    width:400px;
}

#right-col-wrapper {
    float:right;
    width:400px;
}

.profile-image {
    display: block;
    float: left;
    padding: 0 10px 10px 0;
}

#user-name {
    font-size:18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.user-counts {
    font-size:14px;
    float: left;
    width: 300px;
}

.user-counts .count{
    width: 20px;
    display: inline-block;
    font-weight: bold;
    margin-top: 2px;
}

.user-box{
    float: left;
}


#left-col-wrapper .feed-bunk-content,
#right-col-wrapper .feed-bunk-content{
    width: 270px;
}

.title{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}

#header-wrapper{
    margin-top: 10px;
}

#profile-bunk{
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

#profile-bunk:hover{
    font-weight: bold;
}